{% extends 'base.html' %}
{% block title %}Добавить публикацию{% endblock %}

{% block content %}
<h2>Добавить публикацию</h2>

{% if error %}
<p class="error"> {{ error }} </p>
{% endif %}

<form action="{{ url_for('add_publication') }}" method="POST">
    <label for="title">Название публикации:</label>
    <input type="text" id="title" name="title" value="{{ publication.title }}">

    <label for="text_publication">Текст публикации:</label>
    <textarea class="write_text_publication" type="text" id="text_publication" name="text_publication"
        value="{{ publication.text_publication }}"></textarea>

    <button type="submit">Добавить публикацию</button>
</form>

{% endblock %}